# Ignore env
.env

# Ignore Unreal VsCode files
.vscode/compileCommands_Default
.vscode/compileCommands_TestPuerTS
.vscode/c_cpp_properties.json
.vscode/compileCommands_Default.json
.vscode/compileCommands_TestPuerTS.json
TestPuerTS.code-workspace

# Ignore javascript output
Content/JavaScript/editor/
Content/JavaScript/tests/
Content/JavaScript/acp-client/
Content/JavaScript/react-umg/

# Ignore binary files
*.exe
*.dll
*.lib
*.so
*.dylib

# Ignore build
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
obj/
tsconfig.tsbuildinfo

# Ignore user-specific files
*.user
*.userprefs
*.suo
*.opensdf
*.sdf
*.VC.db

# Ignore project-specific files
.idea/
.vs/
*.xcodeproj/
*.xcworkspace/
*.sln
*.csproj.props
*.vsconfig
*.ignore

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp
*.bak
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore js files
node_modules/

# Ignore blender files
*.blend1
*.blend2
*.fbx

# Ignore config files
Config/DefaultEditorSave.ini

# Gulp task cache
.gulp-cache/
