# Ignore universe agent recordings
.universe-agent/recordings/

# Ignore env
.env

# Ignore Unreal VsCode files
.vscode/compileCommands_Default
.vscode/compileCommands_TestPuerTS
.vscode/c_cpp_properties.json
.vscode/compileCommands_Default.json
.vscode/compileCommands_TestPuerTS.json
TestPuerTS.code-workspace

# Ignore javascript output
Content/JavaScript/editor-common/
Content/JavaScript/editor/
Content/JavaScript/tests/
Content/JavaScript/acp-client/
Content/JavaScript/acp-client-ue/
Content/JavaScript/react-umg/
Content/JavaScript/mcp-server-ue/

# Ignore binary files
*.exe
*.dll
*.lib
*.so
*.dylib

# V8 library must include
!Plugins/Puerts/ThirdParty/v8_9.4.146.24/**/*.dll
!Plugins/Puerts/ThirdParty/v8_9.4.146.24/**/*.exe
!Plugins/Puerts/ThirdParty/v8_9.4.146.24/**/*.lib

# Ignore build
Binaries/
Build/
dist/
!tools/build/
!tools/build/**
DerivedDataCache/
Intermediate/
Saved/
obj/
tsconfig.tsbuildinfo

# Ignore user-specific files
*.user
*.userprefs
*.suo
*.opensdf
*.sdf
*.VC.db

# Ignore project-specific files
.idea/
.vs/
*.xcodeproj/
*.xcworkspace/
*.sln
*.csproj.props
*.vsconfig
*.ignore

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp
*.bak
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore js files
node_modules/

# Ignore blender files
*.blend1
*.blend2
*.fbx

# Ignore config files
Config/DefaultEditorSave.ini

# Gulp task cache
.gulp-cache/
